'Time [h],Latitude [deg],Longitude [deg],Elevation [m],Pressure [mb],Geopotential Height [m],Geopotential Height Above Ground Level [m],Air Temperature [C],Potential Temperature [K],Equivalent Potential Temperature [K],Dewpoint Temperature [C],Relative Humidity [%],Water Vapor Mixing Ratio [g/kg],Lifted Condensation Level [m],Level of Free Convection [m],Omega [mb/s],Moist Potential Vorticity,Potential Vorticity,Wind Speed [m/s],Horizontal Wind Direction [deg],Vertical velocity [cm/s],Saturated Equivalent Potential Temperature [K],Static Stability [K/hPa],Equivalent Static Stability [K/hPa],Buoyancy [K/km],Temperature Deficit [C],Convective Inhibition [J/kg],Convective Available Potential Energy [J/kg],Most Unstable Convective Available Potential Energy [J/kg],Most Unstable Convective Inhibition [J/kg]'
'(30(3x,f9.3,3x))'
