#traj_t_0   traj_t_f    traj_dt     file_dt     traj_x  traj_y  traj_z  hydrometeor     color
80          60          600         3600        200     400     10      0               red
80          60          600         3600        200     400     20      0               green
80          60          600         3600        200     400     30      0               blue